section {
    padding: 25px 0;
}

.dsct-section-title{
    font-size: 20px;
    color: var(--dsct-color-font-primary);
    text-align: center;
    margin-bottom: 25px;
}

.dsct-car-cards {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.dsct-section-products{
  background-color: var(--dsct-color-bg-primary);
  padding: 25px;
}

.dsct-section-faq {
  background-color: var(--dsct-color-bg-tertiary);
}

@media (min-width: 576px) {
  .dsct-section-title {
      font-size: 32px;
    }
  }
  