.comment-card{
    background-color: var(--dsct-color-bg-primary);
    border: 1px solid var(--dsct-color-bg-secondary);
    padding: 25px 20px;
    border-radius: 12px;
}

.comment-card p {
    font-weight: 400;
    font-size: 16px;
    color: var(--dsct-color-font-secondary);
}